target/
logs/
build/
local-dev-env/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### Helm ###
/chart/charts
/chart/Chart.lock

### IntelliJ IDEA ###
.idea/**
*.iws
*.iml
*.ipr


gradle/**
.gradle/**
gradlew.bat
gradlew